<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootanical</title>
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
  </head>
  <body>
    <div>
      <th:block th:replace="~{fragments/fragments :: navbar}"></th:block>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h1>Bootanical</h1>
      <p class="w-50">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolores
        impedit facilis saepe recusandae explicabo at soluta laudantium
        blanditiis, repellendus minima consectetur doloribus fugit maxime
        consequuntur optio, fuga ipsa tempore?
      </p>
      <p class="w-50">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At minus
        corrupti distinctio placeat debitis voluptate, quam sit culpa doloremque
        praesentium iste dolor id. Odio, expedita. A temporibus minus
        perferendis tempora.
      </p>
    </div>
  </body>
</html>
